#word {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	display: inline-block;
	font-family: monospace;
	font-size: 30px;
	width: 100%;
}

#word_underscore {
	letter-spacing: 0.5rem;
}

#letters {
	font-size: 20px;
	margin: auto;
	max-width: 18rem;
	width: 100vw;
}

.letter {
	line-height: 35px;
	font-size: 25px;
	margin: 0.2rem;
	padding: 0.2rem 0.8rem 0.2rem 0.8rem;
	display: inline-block;
	width: 2.5rem;
	text-align: center;
	border-radius: 30%;
	border: 1px solid black;
}

.letter:hover {
	background-color: lightgray;
}

.letter_correct {
	color: green;
	font-weight: 800;
}

.letter_wrong {
	color: red;
	font-weight: 800;
}

#result_container {
	text-align: center;
}
